/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * zuume:
 *   - http://typekit.com/eulas/0000000000000000774d3f52
 *   - http://typekit.com/eulas/0000000000000000774d3f55
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-06-07 11:19:55 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=hzy2wxf&ht=tk&f=52672.52674&a=2000316&app=typekit&e=css");

@font-face {
font-family:"zuume";
src:url("https://use.typekit.net/af/de802b/0000000000000000774d3f52/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/de802b/0000000000000000774d3f52/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/de802b/0000000000000000774d3f52/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"zuume";
src:url("https://use.typekit.net/af/82676c/0000000000000000774d3f55/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/82676c/0000000000000000774d3f55/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/82676c/0000000000000000774d3f55/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-zuume { font-family: "zuume",sans-serif; }

/*======================================*/

@font-face{
    font-family:Voyage-Regular;
    font-display:swap;
    src:url(../fonts/Voyage-Regular.ttf);
    src:url(../fonts/Voyage-Regular?#iefix) format("embedded-opentype"),url(../fonts/Voyage-Regular.woff) format("woff") url(../fonts/Voyage-Regular.woff2) format("woff2");
    font-style:normal
}
@font-face{
    font-family:Voyage-Bold;
    font-display:block;
    src:url(../fonts/Voyage-Bold.ttf);
    src:url(../fonts/Voyage-Bold?#iefix) format("embedded-opentype"),url(../fonts/Voyage-Bold.woff) format("woff") url(../fonts/Voyage-Bold.woff2) format("woff2");
    font-style:normal
}
@font-face{
    font-family:KobeWeb-Regular;
    font-display:swap;
    src:url(../fonts/KobeWeb-Regular.ttf);
    src:url(../fonts/KobeWeb-Regular?#iefix) format("embedded-opentype"),url(../fonts/KobeWeb-Regular.woff) format("woff") url(../fonts/KobeWeb-Regular.woff2) format("woff2");
    font-style:normal
}
@font-face{
    font-family:Staff-Medium;
    font-display:swap;
    src:url(../fonts/Staff-Medium.ttf);
    src:url(../fonts/Staff-Medium?#iefix) format("embedded-opentype"),url(../fonts/Staff-Medium.woff) format("woff"),url(../fonts/Staff-Medium.ttf) format("truetype") url(../fonts/Staff-Medium.woff2) format("woff2");
    font-style:normal
}
@font-face{
    font-family:Staff-Regular;
    font-display:swap;
    src:url(../fonts/Staff-Regular.ttf);
    src:url(../fonts/Staff-Regular?#iefix) format("embedded-opentype"),url(../fonts/Staff-Regular.woff) format("woff"),url(../fonts/Staff-Regular.ttf) format("truetype") url(../fonts/Staff-Regular.woff2) format("woff2");
    font-style:normal
}
@font-face{
    font-family:Staff-Light;
    font-display:swap;
    src:url(../fonts/Staff-Light.ttf);
    src:url(../fonts/Staff-Light?#iefix) format("embedded-opentype"),url(../fonts/Staff-Light.woff) format("woff"),url(../fonts/Staff-Light.ttf) format("truetype") url(../fonts/Staff-Light.woff2) format("woff2");
    font-style:normal
}