@import url('https://fonts.googleapis.com/css2?family=Righteous&display&Alumni+Sans+Pinstripe&family=Playfair+Displayy&family=Raleway:wght@100&=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* ! ======= Variables ======= ! */

:root {
    --white: #fff;
    --black: #111;
    --font: "Dancing Script", cursive;
    --main-font: "Raleway", sans-serif;;
    --bold-font: 500;
    --h1: 12rem;
    --h2: 7.2rem;
    --h3: 3.6rem;
    --h4: 2.4rem;
    --gap-12: 12rem;
    --gap-6: 6rem;
    --gap-4: 4rem;
    --gap-3: 3rem;
    --ico-dimension: 6rem;
}

@media(min-width:1540px) {
     :root {
        --h1: 14rem
    }
}

@media(max-width:1000px) {
     :root {
        --h1: 9rem;
        --h2: 6.4rem;
        --h3: 3.2rem;
        --gap-12: 10rem;
        --gap-6: 5rem;
        --gap-4: 3rem;
        --gap-3: 2.5rem
    }
}

@media(max-width:800px) {
     :root {
        --h1: 7.2rem;
        --h2: 5.6rem;
        --h3: 3rem;
        --gap-12: 9rem;
        --gap-6: 4.5rem;
        --gap-4: 2.8rem;
        --gap-3: 2rem
    }
    a.button {
        height: 12rem;
        width: 12rem
    }
}

@media(max-width:600px) {
     :root {
        --nav-height: 8rem;
        --body: 1.9rem;
        --h1: 12vw;
        --h2: 4.2rem;
        --h3: 2.5rem;
        --h4: 2.2rem;
        --ico-dimension: 7rem;
        --gap-12: 8rem;
        --gap-6: 4rem;
        --gap-4: 2.4rem;
        --gap-3: 2rem
    }
}

.no-cursor {
    cursor: none;
}


/* ! ======= Hero Content ======= ! */

.-bg {
    position: absolute;
    width: 100%;
    height: 40rem;
    background: var(--white);
    margin-top: -800px;
    z-index: -1;
}

@media (min-width:1200px) {
    .-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100vh;
        overflow: hidden
    }
}

.-content {
    padding: 0 0 0 0
}

@media (max-width:768px) {
    .-content {
        padding: 100px 0 0 0
    }
}

@media (max-width:1024px) {
    .-content {
        padding: 100px 0 0 0
    }
}

@media (max-width:1200px) {
    .-content {
        padding: 100px 0 0 0
    }
}

.-container nav {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.-container .menu-item {
    flex: 1;
}

.-container .menu-left {
    text-align: left;
    margin-left: 4em;
}

.-container .menu-center {
    text-align: center;
}

.-container .menu-right {
    text-align: right;
    margin-right: 4em;
}

.-container .menu-link {
    padding: 0 30px;
}

.-container .hero-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.-container .wrapper-img {
    position: absolute;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 100vh;
}

.-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.-container .box {
    background: var(--textColor);
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.-container .images {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.-container .img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: black;
}

@media (max-width:1200px) {
    .-container .img {
        top: 40%;
    }
}

.-container .left {
    background: url("../img/_main/about_me.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.-container .right {
    background: url("../img/_main/projects.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.-container p {
    width: 100%;
    height: 61%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    mix-blend-mode: difference;
}

.-container .header-title .letter {
    display: inline-block;
    line-height: 1em;
    /*     text-transform: uppercase; */
    font-size: 400px;
    font-family: var(--font);
}


/* ! ======= Arrow ======= ! */

.arrow {
    position: absolute;
    bottom: 5rem;
    padding: 0px;
    left: 49.5%;
    transform: rotate(45deg);
    animation: arrow-opacity .5s alternate infinite;
}

.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    animation: ease arrow-down .5s alternate infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateX(-.5rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes arrow-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ! ======= Container ======= ! */

.-container .sidebar-text {
    position: absolute;
    top: 20%;
    right: 0.4em;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(117, 113, 113);
}

.-container .projects {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.-container .img-nav {
    position: absolute;
    right: 10%;
    bottom: 13%;
    transform: translate(-50%, -50%);
}

.-container .next {
    position: relative;
    top: 40px;
    left: 80px;
}

@media (max-width:1500px) {
    .-container .header-title .letter {
        font-size: 180px;
    }
    /*     
    .-container .img {
        width: 200px;
        height: 300px;
    } */
}

@media (max-width:1300px) {
    .-container .header-title .letter {
        font-size: 160px;
    }
}

@media (max-width:1200px) {
    .-container .header-title .letter {
        font-size: 140px;
    }
}

@media (max-width:1000px) {
    .-container .header-title .letter {
        font-size: 120px;
    }
}

@media (max-width:900px) {
    .-container .header-title .letter {
        font-size: 100px;
    }
}

@media (max-width:800px) {
    .-container .header-title .letter {
        font-size: 80px;
    }
}


/* ! ======= Floating Icons ======= ! */

.hero .floating-icons>a {
    -webkit-animation: move-up-down 2s ease-in-out infinite alternate;
    animation: move-up-down 2s ease-in-out infinite alternate;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.hero .floating-icons>a,
.hero .floating-icons>a span {
    align-items: center;
    display: flex;
    justify-content: center
}

.hero .floating-icons>a span {
    background-color: #f5f5f5;
    border-radius: 10rem;
    height: var(--ico-dimension);
    transition: .3s cubic-bezier(.23, 1, .32, 1);
    width: var(--ico-dimension)
}

.hero .floating-icons>a:before {
    background-color: transparent;
    /*     border: 1px solid #eee; */
    border-radius: 100rem;
    content: "";
    height: 80rem;
    pointer-events: none;
    position: absolute;
    transition: .3s cubic-bezier(.23, 1, .32, 1);
    width: 80rem
}

.hero .floating-icons>a img {
    display: block;
    height: 3.2rem;
    -o-object-fit: contain;
    object-fit: contain;
    width: 2rem
}

.hero .floating-icons>a.dribbble {
    -webkit-animation-delay: -1333ms;
    animation-delay: -1333ms;
    left: calc(50% - 19rem);
    top: 10rem
}

.hero .floating-icons>a.dribbble:before {
    height: 80rem;
    width: 80rem
}

@media(max-width:1000px) {
    .hero .floating-icons>a.dribbble:before {
        height: 60rem;
        width: 60rem
    }
}

.hero .floating-icons>a.dribbble span {
    background-color: #fdebf1
}

.hero .floating-icons>a.linkedin {
    -webkit-animation-delay: -666ms;
    animation-delay: -666ms;
    left: calc(50% - 35rem);
    top: calc(100% - 15rem)
}

@media(max-width:1500px) {
    .hero .floating-icons>a.linkedin {
        left: calc(50% - 25rem);
    }
}

.hero .floating-icons>a.linkedin:before {
    height: 60rem;
    width: 60rem
}

@media(max-width:1000px) {
    .hero .floating-icons>a.linkedin:before {
        height: 40rem;
        width: 40rem
    }
}

.hero .floating-icons>a.linkedin span {
    background-color: #e5f1f8
}

.hero .floating-icons>a.behance {
    left: calc(100% - 23rem);
    top: calc(100% - 21rem)
}

@media(max-width:1500px) {
    .hero .floating-icons>a.behance {
        left: calc(100% - 13rem);
        top: calc(100% - 11rem)
    }
}

.hero .floating-icons>a.behance:before {
    height: 40rem;
    width: 40rem
}

@media(max-width:1000px) {
    .hero .floating-icons>a.behance:before {
        height: 30rem;
        width: 30rem
    }
}

.hero .floating-icons>a.behance span {
    background-color: #0071ff33
}

.hero .floating-icons>a:hover:before {
    height: calc(var(--ico-dimension)*2.5);
    width: calc(var(--ico-dimension)*2.5)
}

.hero .floating-icons>a:hover span {
    height: calc(var(--ico-dimension)*1.5)!important;
    width: calc(var(--ico-dimension)*1.5)!important
}

@media(max-width:1000px) {
    .hero .floating-icons {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .hero .floating-icons>a {
        -webkit-animation: none;
        animation: none;
        margin: 2rem;
        position: static;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    .hero .floating-icons>a:before {
        content: none
    }
    .hero .floating-icons>a:hover span {
        height: var(--ico-dimension)!important;
        width: var(--ico-dimension)!important
    }
}

@media(max-width:600px) {
    .hero .floating-icons>a {
        margin: 1rem
    }
}

@keyframes move-up-down {
    0% {
        -webkit-transform: translateX(-50%) translateY(calc(-50% + 10px));
        transform: translateX(-50%) translateY(calc(-50% + 10px))
    }
    to {
        -webkit-transform: translateX(-50%) translateY(calc(-50% - 10px));
        transform: translateX(-50%) translateY(calc(-50% - 10px))
    }
}

.text {
    font-family: var(--main-font);
    position: absolute;
    width: 2000px;
    left: 10%;
    top: 40%;
/*     font-weight: 600; */
    font-size: 150px;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ingles{
    color: #ad4444;
}

.mandarin{
    color: #b92954;
}

.hindi{
    color: #c02b8e;
}

.espanhol{
    color: #9016a0;
}

.frances{
    color: #6c44ad;
}

.arabe{
    color: #6944ad;
}

.bengali{
    color: #2124d3;
}

.russo{
    color: #3aabd8;
}

.portugues{
    color: #ced849;
}

.indonesio{
    color: #ce953f;
}

